/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-font: "Nunito", sans-serif;
  --main-color: #000;
  --background-color: #fff;
  --checkbox-color: #00A1FF;
  --footer-background-color: #484848 ;
}

[class=dark] {
  --main-color: #fff;
  --background-color: #484848;
}

body {
  font-family: var(--base-font);
  color: var(--main-color);
  background-color: var(--background-color);
}
body.open {
  overflow: hidden;
}

h1 {
  font-size: clamp(30px, 3.8888888889vw, 56px);
}

h2 {
  font-size: clamp(26px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(16px, 1.3888888889vw, 20px);
}

p {
  font-size: clamp(14px, 1.3888888889vw, 20px);
}

.download {
  padding: 30px 0;
}
@media (min-width: 1152px) {
  .download {
    padding: 40px 0;
  }
}
@media (min-width: 1440px) {
  .download {
    padding: 50px 0;
  }
}
.download__wrapper {
  width: 100%;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (min-width: 768px) {
  .download__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }
}
.download__text-block {
  max-width: 500px;
  margin-bottom: 30px;
}
.download__title {
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .download__title {
    line-height: 50px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1152px) {
  .download__title {
    line-height: 58px;
  }
}
@media (min-width: 1440px) {
  .download__title {
    line-height: 76px;
  }
}
.download__copy {
  margin-bottom: 20px;
}
.download__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 768px) {
  .download__links {
    flex-direction: row;
    column-gap: 20px;
  }
}
.download__image-block img {
  width: 100%;
  max-width: 500px;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.warranty {
  padding: 30px 0;
}
@media (min-width: 1152px) {
  .warranty {
    padding: 40px 0;
  }
}
@media (min-width: 1440px) {
  .warranty {
    padding: 50px 0;
  }
}
.warranty__wrapper {
  width: 100%;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (min-width: 768px) {
  .warranty__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }
}
.warranty__text-block {
  max-width: 500px;
  margin-bottom: 30px;
  order: 2;
}
.warranty__title {
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .warranty__title {
    line-height: 50px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1152px) {
  .warranty__title {
    line-height: 58px;
  }
}
@media (min-width: 1440px) {
  .warranty__title {
    line-height: 76px;
  }
}
.warranty__copy:not(:last-child) {
  margin-bottom: 20px;
}
.warranty__image-block {
  order: 1;
}
.warranty__image-block img {
  width: 100%;
  max-width: 500px;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.care {
  padding: 30px 0;
}
@media (min-width: 1152px) {
  .care {
    padding: 40px 0;
  }
}
@media (min-width: 1440px) {
  .care {
    padding: 50px 0;
  }
}
.care__wrapper {
  width: 100%;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 15px;
}
@media (min-width: 768px) {
  .care__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }
}
.care__text-block {
  max-width: 500px;
  margin-bottom: 30px;
}
.care__title {
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .care__title {
    line-height: 50px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1152px) {
  .care__title {
    line-height: 58px;
  }
}
@media (min-width: 1440px) {
  .care__title {
    line-height: 76px;
  }
}
.care__copy:not(:last-child) {
  margin-bottom: 20px;
}
.care__image-block img {
  width: 100%;
  max-width: 500px;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.cashback {
  padding: 30px 0;
}
@media (min-width: 1152px) {
  .cashback {
    padding: 40px 0;
  }
}
@media (min-width: 1440px) {
  .cashback {
    padding: 50px 0;
  }
}
.cashback__text-block {
  max-width: 580px;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 20px;
}
.cashback__title {
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cashback__title {
    margin-bottom: 20px;
  }
}
.cashback__copy:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 1152px) {
  .cashback__copy:not(:last-child) {
    margin-bottom: 20px;
  }
}
.cashback__button {
  display: block;
  width: 290px;
  margin-inline: auto;
  border: 1px solid #aaa;
  border-radius: 30px;
  font-size: 16px;
  padding: 14px 0;
}
@media (min-width: 768px) {
  .cashback__button {
    font-size: 16px;
  }
}
@media (min-width: 1152px) {
  .cashback__button {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .cashback__button {
    font-size: 20px;
  }
}

.clients {
  padding: 30px 0;
}
@media (min-width: 1152px) {
  .clients {
    padding: 40px 0;
  }
}
@media (min-width: 1440px) {
  .clients {
    padding: 50px 0;
  }
}
.clients__wrapper {
  width: 100%;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  text-align: center;
}
@media (min-width: 1152px) {
  .clients__wrapper {
    justify-content: space-around;
  }
}
.clients__img img {
  width: 130px;
  height: 50px;
}
@media (min-width: 768px) {
  .clients__img img {
    width: 150px;
    height: 55px;
  }
}
@media (min-width: 1152px) {
  .clients__img img {
    width: 200px;
    height: 70px;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  align-content: center;
  display: none;
}
.modal.open {
  display: block;
}
.modal__body {
  background-color: azure;
  max-width: 600px;
  margin-inline: auto;
  position: relative;
}
.modal__close {
  position: absolute;
  right: 0;
  top: -50px;
}
.modal__title {
  font-size: 18px;
  font-weight: 700;
}
.modal .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .form__input input {
  border: 1px solid #000000;
}

/*# sourceMappingURL=index.css.map */
